{% extends 'base.html.twig' %}

{% block title %}Formule{% endblock %}

{% block body %}
    <h1>Formule</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ formule.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ formule.name }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ formule.amount }}</td>
            </tr>
            <tr>
                <th>Is_active</th>
                <td>{{ formule.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_formule_index') }}">back to list</a>

    <a href="{{ path('admin_formule_edit', {'id': formule.id}) }}">edit</a>

    {{ include('admin_formule/_delete_form.html.twig') }}
{% endblock %}
