{% import "macros/dataTable.html.twig" as dataTable  %}
{% import "macros/link.html.twig" as href  %}
{% import "macros/breadcrumb.html.twig" as breadcrumb %}

{% extends 'admin/base.html.twig' %}
{% block head %}
    {{ dataTable.css()}}
{% endblock %}

  {% block breadcrumb %}
    {{ breadcrumb.breadcrumb('Gerer client',[
        {
            path:path('admin_client_index'),
            name:'Clients'
        }
        ]) 
    }}
  {% endblock %}

{% block foot %}
    {{ dataTable.js()}}
{% endblock %}

{% block title %}client {% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="{{ asset('img/user/' ~ client.personne.avatar|default('empty.png')  ) }}"
                        alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">{{ client.personne.fullName }}</h3>

                <p class="text-muted text-center">Client</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Abonnement</b> <a class="float-right">{{ client.abonnements|length }}</a>
                    </li>
                    <li class="list-group-item">
                        <b>Véhicule</b> <a class="float-right">{{ client.vehicules|length }}</a>
                    </li>
                </ul>

                {# <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> #}
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">About Me</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <strong><i class="fas fa-book mr-1"></i> Description</strong>

                <p class="text-muted">
                    B.S. in Computer Science from the University of Tennessee at Knoxville
                </p>

                <hr>

                <strong><i class="fas fa-map-marker-alt mr-1"></i> Location</strong>

                <p class="text-muted">{{ client.city ~ ', ' ~ client.address }}</p>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="card">
            <div class="card-header p-2">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link active" href="#abonnement" data-toggle="tab">Abonnement</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#vehicule" data-toggle="tab">Véhicules</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Information</a></li>
                </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
                <div class="tab-content">
                    <div class="tab-pane active" id="abonnement">
                        <table id="table-1" class="table">
                            <thead>
                                <th>Number</th>
                                <th>Durree</th>
                                <th>Etat</th>
                                <th>Actions</th>
                            </thead>
                            <tbody>
                                {% for item in client.abonnements %}
                                <tr>
                                    <td>{{ item.id }}
                                        <a href="#"><i class="fa fa-eye float-right" aria-hidden="true"></i></a>
                                    </td>
                                    <td>
                                    Debut: {{ item.createdAt|date_format_fr }} </br>
                                    Fin: {{ item.endAt|date_format_fr }} 
                                    </td>
                                    <td>{{ item.etat}} </td>
                                    <td>
                                        {{ href.edit() }}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->
                    <div class="tab-pane" id="vehicule">
                        <table class="table">
                            <thead>
                                <th>Marque</th>
                                <th>Immatriculation</th>
                            </thead>
                            <tbody>
                                {% for item in client.vehicules %}
                                    
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.immatriculation }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.tab-pane -->

                    <div class="tab-pane" id="settings">
                        <form class="form-horizontal">
                            <div class="form-group row">
                                <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputName" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputName2" class="col-sm-2 col-form-label">Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputName2" placeholder="Name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputExperience" class="col-sm-2 col-form-label">Experience</label>
                                <div class="col-sm-10">
                                    <textarea class="form-control" id="inputExperience"
                                        placeholder="Experience"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputSkills" class="col-sm-2 col-form-label">Skills</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" id="inputSkills" placeholder="Skills">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> I agree to the <a href="#">terms and conditions</a>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="offset-sm-2 col-sm-10">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
            </div><!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.col -->
</div>
{% endblock %}

{% block javascripts %}
 {{ dataTable.script('table-1')}}
{% endblock %}