{% import "macros/dataTable.html.twig" as dataTable %}
{% extends 'admin/base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block head %}
    {{ dataTable.css() }}
{% endblock %}

{% block foot %}
    {{ dataTable.js() }}
{% endblock %}

{% block javascripts %}
    {{ dataTable.script('#table-1') }}
{% endblock %}
{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3>Clients </h3>
    </div>
    <div class="card-body">
        <div class="btn-group mb-3">
            <a href="{{ path('admin_client_new') }}" class="btn btn-primary">Nouveau client</a>
        </div>
        <table id="table-1" class="table">
            <thead>
                <tr>
                    <th>Numéro</th>
                    <th>Client</th>
                    <th>Email</th>
                    <th>Abonnement</th>
                    <th>Phone number</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.number }}</td>
                    <td>
                    <a class="a-1" href="{{ path('admin_client_show',{id:client.id }) }}">
                        {{ client.personne.fullName }}</td>
                    </a>
                    <td>{{ client.email }}</td>
                    <td>{{ client.abonnements|length }}</td>
                    <td>{{ client.phoneNumber }}</td>
                    <td>
                        <div class="btn-group">
                        <a class="btn btn-light" title="Detail sur le client" href="{{ path('admin_client_show', {'id': client.id}) }}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                        <a class="btn btn-success" href="{{ path('admin_client_edit', {'id': client.id}) }}"><i class="fas fa-pencil-alt    "></i></a>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}