{% import "/macros/dataTable.html.twig" as dataTable %}
{% import "macros/etats.html.twig" as etats %}
{% extends 'admin/base.html.twig' %}

{% block head %}
    {{ dataTable.css()}}
{% endblock %}

{% block foot %}
    {{ dataTable.js()}}
{% endblock %}

{% block javascripts %}
    {{ dataTable.script('#table-1')}}
{% endblock %}
{% block title %}Vehicule{% endblock %}

{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3>Vehicules</h3>

    </div>
    <div class="card-body">
        <table id="table-1" class="table">
            <thead>
                <tr>
                    <th>Marque</th>
                    <th>Serie</th>
                    <th>Immatriculation</th>
                    <th>Utilisation</th>
                    <th>Abonnement</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicule in vehicules %}
                <tr>
                    <td>{{ vehicule.marque|upper }} {{ vehicule.modelAndVersion }}</td>
                    <td>{{ vehicule.serie }}</td>
                    <td>{{ vehicule.immatriculation }}</td>
                    <td>{{ vehicule.utilisation }}</td>
                    <td>
                        {{ etats.etat(vehicule.abonnement.etat) }}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-light" href="{{ path('vehicule_show', {'id': vehicule.id}) }}">show</a>
                            <a class="btn btn-success" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                        </div>

                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="11">no records found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}