{% import "macros/breadcrumb.html.twig" as breadcrumb %}
{% extends 'admin/base.html.twig' %}

{% block title %}Vehicule{% endblock %}
{% block breadcrumb %}
    {{ breadcrumb.breadcrumb('Show Vehicule',[
        {
            path: path('vehicule_index'),
            name:'Vehicules'
        }
    ])}}
{% endblock %}
{% block body %}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <h3>Vehicule</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="btn-group">
                    <a class="d-block btn btn-success" href="{{ path('vehicule_edit', {'id': vehicule.id}) }}">edit</a>
                    {{ include('admin/vehicule/_delete_form.html.twig') }}
                </div>
            </div>
        </div>

    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>Marque</th>
                    <td>{{ vehicule.marque }}</td>
                </tr>
                <tr>
                    <th>Serie</th>
                    <td>{{ vehicule.serie }}</td>
                </tr>
                <tr>
                    <th>Model et version</th>
                    <td>{{ vehicule.modelAndVersion }}</td>
                </tr>
                <tr>
                    <th>Immatriculation</th>
                    <td>{{ vehicule.immatriculation }}</td>
                </tr>
                <tr>
                    <th>Puissance</th>
                    <td>{{ vehicule.puissance }}</td>
                </tr>
                <tr>
                    <th>Mise en circulation</th>
                    <td>{{ vehicule.miseEnCirculation ? vehicule.miseEnCirculation|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
                <tr>
                    <th>Kilometrage</th>
                    <td>{{ vehicule.kilometrage }}</td>
                </tr>
                <tr>
                    <th>Utilisation</th>
                    <td>{{ vehicule.utilisation }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



{% endblock %}