{% import "macros/breadcrumb.html.twig" as utils %}
{% import "/macros/image.html.twig" as image %}
{% import "macros/alertes.html.twig" as alerte %}
{% import "macros/roles.html.twig" as roles %}

{% extends "admin/base.html.twig" %}

{% block title %}Profile utilisateur{% endblock %}

{% block breadcrumb %}
    {{ utils.breadcrumb('Profile',[
        {
            path:'article_index',
            name:'Manage Articles'
        }
    ])}}
{% endblock %}

{% block body %}
{% for item in app.flashes('success') %}
  {{ alerte.alert(item,'success')}}
{% endfor %}
  <div class="row">
    <div class="col-md-3">
      <!-- Profile Image -->
      <div class="card card-primary card-outline">
        <div class="card-body box-profile">
          <div class="text-center">
              <img class="profile-user-img img-fluid img-circle"
                  src="{{ asset('img/user/' ~ app.user.personne.avatar|default('empty.png') ) }}"
                  alt="{{ app.user.personne.firstName ~ ' ' ~ app.user.personne.lastName  }}">
<<<<<<< HEAD
              
=======
              {% else %}
              <img class="profile-user-img img-fluid img-circle"
                  src="{{ asset('img/user/empty.png') }}"
                  alt="">
            {% endif %}
>>>>>>> 83363b8bd128b1b925e198bcaa9226cac22d0849
          </div>
          <h3 class="profile-username text-center">{{app.user.personne.lastName | title}} {{app.user.personne.firstname | title }}</h3>

          <a href="{{ path('profile_edit', {id: app.user.id }) }}" class="btn btn-success btn-block"><b>Modifier <i class="fas fa-pencil-alt"></i> </b></a>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

      <!-- About Me Box -->
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">About Me</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <strong><i class="fas fa-map-marker-alt mr-1"></i> Adresse</strong>

          <p class="text-muted">Dakar, Sacre coeur 2</p>

          <hr>

          <strong><i class="fas fa-pencil-alt mr-1"></i> Roles</strong>

          <p class="text-muted">
          {% for item in app.user.roles %}
            <span class="tag tag-danger">{{ roles.role(item) }}</span>
          {% endfor %}

          </p>
          </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link {% if app.request.query.get('tab') is null or app.request.query.get('tab') == '' %}active{% endif %}" href="#activity" data-toggle="tab">Activity</a></li>
          </ul>
        </div><!-- /.card-header -->
        <div class="card-body">
          <div class="tab-content">
            <div class="active tab-pane" id="activity">

            </div>
            <!-- /.tab-pane -->
          </div>
          <!-- /.tab-content -->
        </div><!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
{% endblock %}

{% block javascripts %}
  <script>
   $(document).ready(function(){
     $('.mon-profile').addClass('active')
   })
  </script>
{% endblock %}